<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
              <div class="row">
                <div class="col-md-6 col-12 main_header_right">
                   <figure>
                    <img src="images/about.jpg" alt="Dev" class="img-fluid" title="Dev">
                   </figure>
                </div>
                <!-- Left side div  -->
                <div class="col-md-6 col-12 main_header_left">
                  <p>Myself, <span class="text-color">Dev Patel</span></p>
                  <h1>I Am A <span class="text-color">MERN Stack Developer</span>, Frontend Dev and Engineer</h1>
                  <a href="https://github.com/Dgre-X?tab=repositories" target="_DgreX"><button>Projects</button></a>
                </div>
                <!-- Right side div  -->
                
              </div>
            </div>
        </div>
    </div>
    <!-- Footer section  -->
    {{>footer}}
    
</body>
</html>